{
    "aws_profile_name": "default",
    "lambda_role_name": "ServiceLambda",
    "lambda_functions": [
        {
            "RelativeFilePath": "outputs/zip_lambda/helloWorld.zip",
            "FunctionName": "helloWorldLambda",
            "Runtime": "python3.9",
            "Handler": "helloworld.lambda_handler",
            "Timeout": 300,
            "Environment": {
                "Variables": {
                    "Name": "helloWorldLambda",
                    "Environment": "prod"
                }
            }
        }
    ]
}